body{
    margin: 0;
    padding: 0;
    background-color: #f3f2ef;
    display: flex;
    flex-direction:column;
    align-items: center;
}
/* sidebar */
.header-left img{
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}
.header{
    width: 100%;
    height: 60px;
    position: sticky;
    display: flex;
    top: 0;
    z-index: 999;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgrey;
    padding: 10px;
    background-color: white;
}
.header-left{
    display: flex;
}
.header-right{
    display: flex;
}
.header-search{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 41px;
    width: 254px;
    color: gray;
    background-color: #eef3f8;
}
.header-search input{
    outline: none;
    border: none;
    background: none;
}
.headeroption{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    cursor: pointer;
    font-size: 15px;
}
.headeroption:hover{
    color: black;
}
.headeroption h3{
    width: 70px;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 400;
}
.headeroption-icon{
    margin-right: 5px;
    height: 20px;
    width: 20px;
}


/* main body */
.body-main{
    display: flex;
    margin-top: 35px;
    max-width: 1200px;
    margin-left: 20px;
    margin-right: 20px;
}

/* sidebar */
.sidebar{
    position: sticky;
    top: 80px;
    flex:0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
}
.sidebar-top img{
    margin-bottom: -20px;
    width: 100%;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.sidebar-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray ;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}
.sidebar-starts{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px ;
}

.sidebar-start{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.sidebar-start p{
    color: gray;
    font-size: 13px;
    font-weight: 600;
}
.sidebar-startnumber{
    font-weight: bold;
    color: #0a66c2 !important;
}

.sidebar-top h4{
    color: gray;
    font-size: 12px;
    margin-top: 5px;
}

.sidebar-top h2{
    font-size: 18px;
}
.sidebar-bottom{
   text-align: left;
   padding: 10px;
   border: 1px solid lightgray;
   background-color: white;
   border-radius: 10px;
   margin-top: 10px;
}

.sidebar-recentitem{
    display: flex;
    font-size: 13px;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
}

.sidebar-recentitem:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

.hash{
    margin: 0 10px;
}


.sidebar-bottom p{
    font-size: 14px;
    padding-bottom: 10px;
}


/* feed */

.feed{
    flex: 0.6;
    margin: 0 20px;
}

.feed-inputcontainer{
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feed-input{
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
}
.feed-input form{
    display: flex;
    width: 100%;
}

.feed-input form input{
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}

.feed-inputoptions{
    display: flex;
    justify-content: space-evenly;
}

.inputoption{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
}

.inputoption:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}

.inputoption h4{
    margin-left: 5px;
}

/* post */

.post{
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.post-header{
    display: flex;
    margin-bottom: 10px;
}

.post-info{
    margin-left: 10px;
}
.post-info p{
    font-size: 12px;
    color: gray;
}

.post-info h2{
    font-size: 15px;
}

/* widgets */

.widgets{
    position: sticky;
    top: 80px;
    flex: 0.2;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    height: fit-content;
    padding-bottom: 10px;
}

.widgets-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.widgets-header h2{
    font-size: 16px;
    font-weight: 400;
}

.widgets-article{
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.widgets-article:hover{
    background-color: whitesmoke;
}

.widgets-articleleft{
    color: #0177b7;
    margin-right: 5px;
}

.widgets-articleleft .material-symbols-outlined{
    font-size: 15px;
}

.widgets-articleright{
    flex: 1;
}

.widgets-articleright h4{
    font-size: 14px;
}

.widgets-articleright p{
    font-size: 12px;
    color: gray;
}